@page "/"
@inject CocktailService _service
@inject NavigationManager _nav
@inject ISnackbar _snack
@inject IDialogService _dialogService
@implements IDisposable

<PageTitle>Cocktail Mate</PageTitle>
<MudText Typo="Typo.h3" GutterBottom="true" Align="Align.Center">Welcome to Cocktail Mate!</MudText>
<MudText Class="mb-8" Align="Align.Center">Fancy a tipple? Search for a cocktail, use one of the filters, or 
    <MudLink @onclick="HandleRandom" Class="cursor-pointer">choose one at random</MudLink>
</MudText>

@if (_service?.CocktailSearch?.drinks?.Any() is true)
{
    <MudGrid>
        @foreach (var drink in _service.CocktailSearch?.drinks)
        {
            <MudItem xs="6">
                <MudCard>
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Primary">@drink.strDrink.Substring(0,1).ToUpper()</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">@drink.strDrink</MudText>
                        </CardHeaderContent>
                        <CardHeaderActions>
                                <MudIconButton Icon="@Icons.Material.Filled.QuestionMark" Color="Color.Default" 
                                OnClick="@(() => HandleDialog(drink))" Title="How do I make this?" />
                        </CardHeaderActions>
                    </MudCardHeader>
                    <MudCardMedia Image="@drink.strDrinkThumb" Height="250" />
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}
else
{
    <MudCarousel Class="mud-width-full" Style="height:200px;" ShowArrows="true" EnableSwipeGesture="@true" AutoCycle="@true" TData="Drink">
        <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
            <div class="d-flex" style="height:100%">
                <div class="d-flex justify-center">
                    <MudImage ObjectFit="ObjectFit.Cover" Height="200" Width="400" Src="@_randomOne?.drinks?.FirstOrDefault()?.strDrinkThumb"
                              Alt=@_randomOne?.drinks?.FirstOrDefault()?.strDrink Elevation="25" Class="rounded-lg" />
                    <MudText Align="@Align.Center" Class="mx-auto"></MudText>
                </div>        
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Fade" Color="@Color.Secondary">
            <div class="d-flex" style="height:100%">
                <MudImage Src="@_randomTwo?.drinks?.FirstOrDefault()?.strDrinkThumb" Width="200" Height="150" Elevation="25" Class="rounded-lg mx-auto" />
                <MudText Align="@Align.Center" Class="mx-auto">@_randomTwo?.drinks?.FirstOrDefault()?.strDrink</MudText>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="Transition.Slide">
            <div class="d-flex" style="height:100%">
                <MudImage Src="@_randomThree?.drinks?.FirstOrDefault()?.strDrinkThumb" Width="200" Height="150" Elevation="25" Class="rounded-lg mx-auto" />
                <MudText Align="@Align.Center" Class="mx-auto">@_randomThree?.drinks?.FirstOrDefault()?.strDrink</MudText>
            </div>
        </MudCarouselItem>
    </MudCarousel>
}

@code {
    private Drinks _randomOne = new();
    private Drinks _randomTwo = new();
    private Drinks _randomThree = new();

    protected override async Task OnInitializedAsync()
    {
        _service.OnSearchPerformed += HandleSearch;

        var result = await _service.GetRandomDrinks(3);
        if (result.IsError)
        {
            _snack.Add("Could not load Random Cocktails", Severity.Warning);
        }
        else
        {
            _randomOne.drinks.Add(result.Value.drinks.First());
            _randomTwo.drinks.Add(result.Value.drinks[1]);
            _randomThree.drinks.Add(result.Value.drinks[2]);
        }
    }

    private void HandleSearch()
    {
        if (!string.IsNullOrEmpty(_service.SearchError))
        {
            _snack.Add(_service.SearchError, Severity.Warning);
        }
        else
        {
            StateHasChanged();
        }     
    }

    private async Task HandleRandom()
    {
        var result = await _service.GetRandomDrinks(1);
        if (result.IsError)
        {
            _snack.Add("Could not load Random Cocktail", Severity.Warning);
        }
        else
        {
            HandleDialog(result.Value.drinks.First());            
        }
    }

    private async Task HandleDialog(Drink drink)
    {
        var result = await _service.GetDrink(drink.idDrink);
        if (result.IsError)
        {
            _snack.Add(result.FirstError.Description, Severity.Error);
            return;
        }
        
        var parameters = new DialogParameters();
        parameters.Add("Drink", result.Value);
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        _dialogService.Show<CocktailDialog>(result.Value.strDrink, parameters, options);
    }

    void IDisposable.Dispose()
    {
        _service.OnSearchPerformed -= HandleSearch;
    }
}