@page "/"
@inject CocktailService _service
@inject NavigationManager _nav
@inject ISnackbar _snack
@inject IDialogService _dialogService
@implements IDisposable

@if (_service?.CocktailSearch?.drinks?.Any() is not true)
{
    <PageTitle>Cocktail Mate</PageTitle>
    <MudText Typo="Typo.h3" GutterBottom="true" Align="Align.Center">Welcome to Cocktail Mate!</MudText>
    <MudText Class="mb-8" Align="Align.Center">
        Fancy a tipple? Search for a cocktail, use one of the filters, or
        <MudLink @onclick="PerformRandomSearch" Class="cursor-pointer">choose one at random</MudLink>
    </MudText>
}

@if (_showLoading)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="200px" />
    <MudCardContent>
        <MudSkeleton Width="30%" Height="42px;" />
        <MudSkeleton Width="80%" />
        <MudSkeleton Width="100%" />
    </MudCardContent>
    <MudCardActions>
        <MudSkeleton Width="64px" Height="40px" Class="ml-2" />
        <MudSkeleton Width="105px" Height="40px" Class="ml-3" />
    </MudCardActions>
    <MudOverlay Visible="_showLoading" ZIndex="9999">
        <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
    </MudOverlay>
}
else if (_service?.CocktailSearch?.drinks?.Any() is true)
{
    <MudText Class="mb-8" Align="Align.Center">
        Search Result returned <MudElement HtmlTag="a"
                                       Class="ma-0"
                                       Style="color:blue;font-weight:bold;">
            @_service?.CocktailSearch?.drinks.Count
        </MudElement> results.
    </MudText>
    <MudGrid>
        @foreach (var drink in _service.CocktailSearch?.drinks)
        {
            <MudItem xs="6"> 
                <MudCard @onclick="@(()=> HandleGetDrink(drink.idDrink))" Class="cursor-pointer" Elevation="5" Outlined="true">
                    <MudCardHeader>
                        <CardHeaderAvatar>
                            <MudAvatar Color="Color.Primary">@drink.strDrink.Substring(0,1).ToUpper()</MudAvatar>
                        </CardHeaderAvatar>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body1">@drink.strDrink</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardMedia Image="@drink.strDrinkThumb" Height="250" />
                </MudCard>
            </MudItem>
        }
    </MudGrid>
}
else
{
    <MudCarousel Class="mud-width-full mb-10" Style="height:200px;" ShowArrows="true" EnableSwipeGesture="@true" AutoCycle="@true" TData="Drink" ShowBullets="false">
    @foreach (var drink in _randomCocktails?.drinks)
    {
            <MudCarouselItem Transition="Transition.Slide" Color="@Color.Dark">
            <div class="d-flex" style="height:100%">
                <div class="d-flex justify-center">
                    <MudImage Src="@drink.strDrinkThumb" Height="250" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Bottom" />
                    <MudGrid Class="ml-4 mt-1">
                        <MudItem>
                            <MudText Typo="Typo.h6" @onclick="@(()=> HandleDialog(drink))" Class="mb-1 cursor-pointer">@drink.strDrink</MudText>
                            <ChipContent Drink=@drink />
                            <MudText Typo="Typo.subtitle1">Ingredients</MudText>
                            @foreach (var i in _service.GetIngredients(drink))
                            {
                                <MudChip Icon="@Icons.Material.Filled.Info" Color="Color.Secondary" OnClick="@(() => HandleIngredient(i.Key))">@_service.GetIngredientText(i)</MudChip>
                            }
                        </MudItem>
                    </MudGrid>
                </div>
            </div>
        </MudCarouselItem>
    }
    </MudCarousel>
    <MudPaper Class="mud-width-full" Outlined="true">
        <MudAlert Severity="Severity.Info">
            This web application was built for demonstration purposes only.<br>
                Cocktail data is sourced exclusively from
            <MudElement HtmlTag="a"
                    Class="ma-0"
                    Style="color:orangered;font-weight:bold;"
                    href="https://www.thecocktaildb.com/"
                    target="blank"
                    rel="noopener noreferrer">
                TheCocktailDB,
            </MudElement>
                an open, crowd-sourced database of drinks and cocktails from around the world.<br>
            Please check them out and support their awesome content.<br>
            This application was built using 
            <MudElement HtmlTag="a"
                Class="ma-0"
                Style="color:mediumpurple;font-weight:bold;"
                href="https://mudblazor.com/"
                target="blank"
                rel="noopener noreferrer">
                Mud Blazor.
            </MudElement><br>
        </MudAlert>
    </MudPaper>
}
@code {
    private Drinks _randomCocktails = new();
    private bool _showLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _service.OnSearchPerformed += HandleSearch;
        _service.OnRandomSearchPerformed += HandleRandom;
        _service.OnSearchStarted += SearchStarted;

        var result = await _service.GetRandomDrinks(3);
        if (result.IsError)
        {
            _snack.Add("Could not load Random Cocktails", Severity.Warning);
        }
        else
        {
            _randomCocktails = result.Value;
        }

        _showLoading = false;
    }

    private void HandleSearch()
    {
        _showLoading = false;
        StateHasChanged();

        if (!string.IsNullOrEmpty(_service.SearchError))
        {
            _snack.Add(_service.SearchError, Severity.Warning);
        }      
    }

    private async Task PerformRandomSearch()
    {
        await _service.PerformRandomSearch();
    }

    private void HandleRandom()
    {
        _showLoading = false;
        StateHasChanged();

        if (!string.IsNullOrEmpty(_service.SearchError))
        {
            _snack.Add(_service.SearchError, Severity.Warning);
        }
        else
        {
            HandleDialog(_service.CurrentCocktail);            
        }
    }

    private void SearchStarted()
    {
        _showLoading = true;
        StateHasChanged();
    }

    private async Task HandleGetDrink(string drinkId)
    {
        await _service.PerformÇocktailGet(drinkId);
    }

    private void HandleDialog(Drink drink)
    {
        var parameters = new DialogParameters();
        parameters.Add("Drink", drink);
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        _dialogService.Show<CocktailDialog>(drink.strDrink, parameters, options);
    }

    private async Task HandleIngredient(string ingredient)
    {
        var result = await _service.GetIngredient(ingredient);
        if (result.IsError)
        {
            _snack.Add(result.FirstError.Description, Severity.Error);
            return;
        }

        var parameters = new DialogParameters();
        parameters.Add("Ingredient", result.Value);
        var options = new DialogOptions() { CloseButton = true, MaxWidth = MaxWidth.Medium, FullWidth = true };
        _dialogService.Show<IngredientDialog>(result.Value.strIngredient, parameters, options);
    }

    void IDisposable.Dispose()
    {
        _service.OnSearchPerformed -= HandleSearch;
        _service.OnRandomSearchPerformed -= HandleRandom;
        _service.OnSearchStarted -= SearchStarted;
    }
}